<h1>List of current users</h1>
<h2>Your username is:</h2>
<h3>Click on your username to explore your profile</h3>

  <% @users.each do |user| %>
    <div class="media">
      <div class="media-heading">
        <%= link_to user.email, user %>
      </div>
    </div>
  <% end %>
